<div class="top">
    <div class="center-third">
        <br><br>
        <h1>"If the women are dancing, everyone is happy" - Mahatma Gandhi</h1>
        <br>
        <p>
            Once upon a time, I brought some lady friends to a dchi party and they told me the music was so bad they
            needed to leave.
            Since then I have endeavored to make sure this never happens again.
            <br>
            The goal here is to have a comprehensive Delta Chi playlist full of bangers that is synced between all our
            DJs and easily
            shared as we add to our collections (a constant process as new music comes out). However, we don't want it
            to be completely
            synced down to the playlist composition and cue point level because we will all have our own personal
            preferences. Therefore, the system is this:
            <br>
            Everybody has their own local copy of Rekordbox that has all their playlists organized, cue points added,
            ratings given to songs, etc.
            However, the folder that the music files are in is synced between everybody. Every now and then everyone
            will need to go into that
            folder and drag the new songs into their local Rekordbox and process them however they want (rate it and put
            it into an appropriate playlist).
            Then every month, somebody takes a backup of their entire music library.
            Make sure this Google Drive file is easily findable in in Slack.
            This exists so that new DJs can quickly set up and have a complete starting pack, or in case someone's
            computer blows up they can start easily again.
        </p>
        <h2>How to get set up for the first time</h2>
        <ol>
            <li>Download and install <a href="https://rekordbox.com/en/download/" target="_blank">Rekordbox</a></li>
            <li>Download and install <a href="https://syncthing.net/downloads/" target="_blank">Syncthing</a></li>
            <li>
                Open the Syncthing GUI and click the top right Actions > Show ID. Copy the code and give this to someone
                with access to the Syncthing folder.
                This person will need to go into their Syncthing, click Add Remote Device at the bottom right, and add
                your ID. Then, they will need to click
                the DJ Music folder > Edit > Sharing and check the box with the new user. The files should start
                automatically downloading to your computer.
            </li>
            <li>Download the Rekordbox backup zip from the Google Drive link in Slack.</li>
            <li>In Rekordbox, go to File > Library > Restore Library and choose your backup zip file.</li>
            <li>Once that's done restoring, go to File > Preferences > Advanced and find the Auto Relocate Search
                Folders option. Uncheck Music, Video, and Desktop
                and add the file path of the DJ Music folder you downloaded from Syncthing.
            </li>
            <li>Then go to File > Display All Missing Files. Click Auto Relocate at the bottom and most of the files
                should get automatically mapped. There will probably be
                a few stragglers - for each of these click Relocate and then manually search the correct file and
                select it.
            </li>
            <li>Congratulations, you have an incredible, well organized playlist.</li>
        </ol>
        <h2>Things to remember</h2>
        <ul>
            <li>
                Every change made to the DJ Music folder is reflected across all other computers. Don't mess up this
                folder. I recommend making yourself a local copy of
                the DJ Music folder and keeping it right next to the synced one in case someone blows something up.
            </li>
            <li>Do not give access to the backup folder or the Syncthing to anyone you don't trust or isn't in dchi.
            </li>
            <li>When you find a new song, download it into the DJ Music folder, then drag it in to Rekordbox directly
                into the playlist called DJ MARTY. This is the playlist that
                contains every song, making it easy to use the search bar to look for specific songs or requests
                regardless of what playlist they're sorted into. Once the song is
                in the DJ MARTY playlist, you can use the (i) icon on the right to update the metadata (title, artist,
                album, etc.). Then, rate the song by clicking the stars,
                put it into appropriate playlists, add cue points, and whatever else your heart desires. These changes
                are all individual/not synced, so after
                the first time you restore the backup into rekordbox, all new changes to playlists are personal based on what you
                feel.
            </li>
            <li>Every month or so, somebody must go to File > Library > Backup Library and put the backup zip into
                Google Drive to keep things up to date for new DJs.</li>
        </ul>
        <h2>Where to find songs</h2>
        <p>The vast majority of music out there is terrible/made for a different vibe. You should have a good idea of
            what the women want around here: house remixes of popular
            music with a good beat and a drop. Stay away from things like techno, deep house, afro house, etc. Go
            through songs on the playlist by rating to get a sense of
            what sounds good. That being said, here is a list of places to look for songs. A lot of the time if you find
            a good song on one of these sites, you should NOT find it
            on Youtube and download it with a Youtube to MP3 website. That is piracy and it is illegal.
        </p>
        <ul>
            <li><a href="https://www.beatsource.com/playlists" target="_blank">https://www.beatsource.com/playlists</a> - I like this
                best for keeping up with new releases, there's a new releases playlist every friday.</li>
            <li><a href="https://soundcloud.com/" target="_blank">https://soundcloud.com/</a> - Undisputed champion of bootleg remixes.
                Hypothetically you can find soundcloud downloaders like <a href="https://cloudmp3.cc/en/" target="_blank">https://cloudmp3.cc/en/</a> on Google.</li>
            <li><a href="https://hypeddit.com/charts/downloads" target="_blank">https://hypeddit.com/charts/downloads</a></li>
            <li><a href="https://www.beatport.com" target="_blank">https://www.beatport.com</a></li>
            <li><a href="https://www.youtube.com/@TRACK-HUB/" target="_blank">https://www.youtube.com/TRACK-HUB/</a></li>
            <li><a href="https://app.bpmsupreme.com" target="_blank">https://app.bpmsupreme.com</a></li>
            <li><a href="https://www.djcity.com" target="_blank">https://www.djcity.com</a></li>
        </ul>
        <h2>Actually DJing</h2>
        <h3>Setting up</h3>
        <ul>
            <li>Plug the USB cable from the DJ board (make sure to use the port with a computer symbol, not a lightning
                bold) and plug this into your laptop.</li>
            <li>Make sure your laptop is plugged into power.</li>
            <li>Plug the chunky RCA cables between the board and the Input side of the controller block.</li>
            <li>Plug the other chunky RCA cables between the Output side of the controller block and plug the aux cable
                into the speaker with its switch set to Stereo Master.</li>
            <li>From the Stero Master speaker, connect the XLR cable from the OUT plug to the LINK IN plug on the
                speaker set to Link In.</li>
            <li>Plug the massive aux cables between the controller block and the subwoofer.</li>
        </ul>
        <h3>No music is playing! Help!</h3>
        <ul>
            <li>First check that Rekordbox is working by changing the Audio setting in Preferences to play out your
                laptop speakers</li>
            <li>Then make sure music is getting to your board, there should be little lights going up and down in the
                center based on the beat. Make sure your Master Level knob
                is up, your trims are up, your audio level sliders are up and the bottom one is centered.
            </li>
            <li>Make sure the controller block is getting music - that should also have little lights going up and down
                based on the beat. Make sure the master level knob there is up
                and that the Mix button is pressed in.
            </li>
            <li>Make sure the speakers are correctly set to Stereo Master and Link In and that their volume knobs are
                right.</li>
        </ul>
        <h3>Tips</h3>
        <ul>
            <li>
                Take some time when first starting out to go through the playlists and understand what is in them. There are a LOT of songs in here. 
                I'd recommend listening to every song in the 5 and 4 star range so you're aware of what's in here and your brain can make connections to songs 
                you think would hit hard once you're actually playing a party.
            </li>
            <li>
                Requests are good! They tell you what the crowd wants. You are here to satisfy the crowd. Play most requests.
            </li>
        </ul>
        <h2>Contact Me</h2>
        <p>If something on this page needs to be updated or you have questions, text me at (715) 252-7459.</p>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>