<div class="carousel" data-flickity='{ "groupCells": true, "pageDots": false }'>
  <div class="carousel-cell">
    <div class="container car-top">
      <img class="car-img" src="\assets\images\skyward.jpg" />
      <div class="car-title">
        <span>
          <strong> Skyward Inc. </strong>
        </span>
        <br />
        <span>
          Software Engineer Intern
        </span>
        <br />
        <span>
          June 2022 - Present
        </span>
      </div>
    </div>
    <div class="car-text">
      <ul>
        <li>Contributed to the Professional Services team, working on a variety of tasks to ensure smooth development operations
          throughout the company</li>
        <li>Built C# web applications (ASP.NET, Blazor, MVC) for internal websites</li>
        <li>Integrated REST APIs to retrieve data from external systems, improving efficiency and data accuracy</li>
        <li>Managed databases with SQL queries for data retrieval, manipulation, and optimization</li>
        <li>Wrote and deployed IIS sites and Windows services to improve automation and development workflow</li>
        <li>Utilized GitHub for version control and managed workflows for our custom build processes</li>
        <li>Worked closely with migration teams to identify pain points and streamline data migration processes,
          resulting in smoother transitions for clients</li>
        <li>Acted as a primary point of contact for service calls, promptly resolving issues and providing technical
          assistance
          to developers and system managers</li>
        <li>Engaged in Agile development practices, participating in daily stand-up meetings and collaborating with
          cross-functional teams</li>
      </ul>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="container car-top">
      <img class="car-img" src="\assets\images\wisco.jpg" />
      <div class="car-title">
        <span>
          <strong> UW-Madison Administrative Information Management Services </strong>
        </span>
        <br />
        <span>
          Field Services Technologist
        </span>
        <br />
        <span>
          Jan 2022 - May 2022
        </span>
      </div>
    </div>
    <div class="car-text">
      <ul>
        <li>Primarily responsible for installing, moving, removing, repairing and maintaining computer hardware,
          peripherals and applications on AIMS' managed clients</li>
        <li>Ensured that the devices and applications installed matches the inventory</li>
        <li>Installed workstation operating systems and applications from centrally maintained images and customized them
          for the user</li>
        <li>Created and maintained workstation images as needed as workstation hardware and software is updated</li>
        <li>Answered computer-related support request calls from AIMS customers, resolving problems reported via the
          calls,
          and entering and updating call status in our call management system</li>
        <li>Participated in planning, coordinating, and implementing new and modified systems</li>
        <li>Support of University Housing residents, staff, and housing computer labs (TLCs)</li>
        <li>Performed other tasks and projects as assigned related to end user support</li>
      </ul>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="container car-top">
      <img class="car-img" src="\assets\images\wisco.jpg" />
      <div class="car-title">
        <span>
          <strong> UW-Madison Housing </strong>
        </span>
        <br />
        <span>
          Student Custodian
        </span>
        <br />
        <span>
          Sept 2021 - Jan 2022
        </span>
      </div>
    </div>
    <div class="car-text">
      <ul>
        <li>Performed general building maintenance and custodial work under limited supervision of supervisor</li>
        <li>Utilized basic equipment and supplies to clean assigned facility areas and removed waste and recyclables</li>
        <li>Maintained organization of supply areas and equipment, documented inventory, and requested additional supplies as needed</li>
        <li>Maintained clean and clear walkways to ensure they are free of debris, litter, snow, and ice</li>
        <li>Documented and reported repairs, violations, and pest control needs</li>
      </ul>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="container car-top">
      <img class="car-img" src="\assets\images\menards.jpg" />
      <div class="car-title">
        <span>
          <strong> Menards  </strong>
        </span>
        <br />
        <span>
          Carryout
        </span>
        <br />
        <span>
          August 2019 - Jan 2020
        </span>
      </div>
    </div>
    <div class="car-text">
      <ul>
        <li>Assisted customers with loading heavy purchases and gathered loose shopping carts from outside</li>
        <li>Gained experience in a fast-paced retail environment and learned customer service skills</li>
        <li>Humble beginnings</li>
      </ul>
    </div>
  </div>
</div>