<div #carousel class="carousel" data-flickity='{ "groupCells": true, "pageDots": false }'>
  <div *ngFor="let job of jobs" class="carousel-cell">
    <div class="container car-top">
      <img class="car-img" [src]="job.image" />
      <div class="car-title">
        <span>
          <strong> {{ job.company }} </strong>
        </span>
        <br />
        <span>
          {{ job.title }}
        </span>
        <br />
        <span>
          {{ job.duration }}
        </span>
      </div>
    </div>
    <div class="car-text">
      <ul>
        <li *ngFor="let bullet of job.bullets">{{ bullet }}</li>
      </ul>
    </div>
  </div>
</div>