* { box-sizing: border-box; position:relative;}

body { font-family: sans-serif; }

ul {
  list-style: disc;
}

.carousel {
  background: transparent;
  width: inherit;
}

.carousel-cell {
  width: 51%;
  min-height: 600px;
  margin-right: 50px;
  background: white;
  border-radius: 10px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.car-top{
  height: 130px;
  width: 100%;
  padding: 0;
  background-image: linear-gradient(to bottom, #2081c3, #63d2ff);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Geologica", "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.car-img{
  position: absolute;
  object-fit: contain;
  max-width: inherit;
  max-height: inherit;
  height: 66%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px white;
  top: 15%;
  left: 5%;
}

.car-title{
  left: 150px;
  top: 10%;
  font-size: 20px
}

.car-text{
  font-size: 18px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .carousel {
    margin-top: 5vh;
  }
  .carousel-cell {
    width: 80%;
  }
  .car-top{
    height: 100px;
  }
  .car-img{
    height: 50px;
    top: 25%;
  }
  .car-title{
    font-size: 1rem;
    left: 75px;
    top: 10%;
    width: 100%;
  }
  
}