<div class="top-screen relative h-[calc(var(--vh)*100)]">
    <div class="absolute top-1/4 left-1/2 lg:top-1/2 lg:left-[66%] xl:left-3/4 transform -translate-x-1/2 -translate-y-1/2 z-10">
        <h2 class="title-typewriter title-small text-3xl lg:text-5xl">
            Hi, my name is
        </h2>
        <h1 class="name-fade name-fade1 mt-4 text-4xl lg:mt-8 lg:text-7xl">
            Martin
        </h1>
        <h1 class="name-fade name-fade2 mt-2 mb-6 text-4xl lg:mt-4 lg:mb-12 lg:text-7xl">
            Domaradzki
        </h1>
        <div class="title-small">
            <h2 class="title-desc title-desc1 text-3xl lg:text-5xl">
                I'm a <span style="color:white">software engineer,</span>
            </h2>
            <h2 class="title-desc title-desc2 text-3xl lg:text-5xl">
                <span style="color:white">technology consultant,</span>
            </h2>
            <h2 class="title-desc title-desc3 text-3xl lg:text-5xl">
                and <span style="color:white">systems builder</span>
            </h2>
        </div>
        <div class="about">
            <a href="#about"><img class="about-img fixed right-0 max-h-16 lg:max-h-24" src="\assets\images\chevron.png" /></a>
        </div>
    </div>
    <div class="absolute bottom-0 h-full w-full">
        <img class="absolute bottom-0 left-1/2 -translate-x-1/2 lg:left-0 xl:left-32 lg:translate-x-0 w-auto h-[calc(var(--vh)*55)] md:h-[calc(var(--vh)*60)] lg:h-[calc(var(--vh)*75)] xl:lg:h-[calc(var(--vh)*100)] md:w-[35svw]" src="\assets\images\nobg.png"/>
    </div>
</div>