<div class="top-screen">
    <img class="bg" src="\assets\images\bg.jpg"/>
    <img class="marty" src="\assets\images\imagenobg.png"/>
    <div class="title">
        <h2 class="title-typewriter title-small mx-auto">
            Hi, my name is
        </h2>
    </div>
    <div class="title">
        <h1 class="name-fade name-fade1">
            Martin
        </h1>
        <h1 class="name-fade name-fade2">
            Domaradzki
        </h1>
    </div>
    <div class="title title-small">
        <h2 class="title-desc title-desc1">
            I'm an aspiring <span style="color:white">software engineer,</span>
        </h2>
        <h2 class="title-desc title-desc2">
            <span style="color:white">quantitative analyst,</span>
        </h2>
        <h2 class="title-desc title-desc3">
            and <span style="color:white">technology futurist</span>
        </h2>
    </div>
    <div class="about">
        <h2>
            About me
        </h2>
        <a href="#"><img class="about-img" src="\assets\images\chevron.png" /></a>
    </div>
</div>