*{
    font-family: Geologica, sans-serif;
}

.top-screen{
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title-small{
    color: #38d5d7;
    text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
}

.title-typewriter{
    overflow: hidden;
    white-space: nowrap;
    width: max-content;
    animation: 
      typing 2s steps(40, end),
      blinkcaret .75s step-end 10;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 220px }
  }

  @keyframes typing-lg {
    from { width: 0 }
    to { width: 350px }
  }

  @media (min-width: 1024px) {
    .title-typewriter{
      animation: 
        typing-lg 2s steps(40, end),
        blinkcaret .75s step-end 10;
    }
  }

  @keyframes blinkcaret {
    from, to { border-right: transparent; }
    50% { border-right: solid white;}
  }

  .name-fade{
    position:relative;
    font-family: Rockwell;
    color: white;
    text-shadow: 3px 3px black, -3px -3px black, -3px 3px black, 3px -3px black, 0px 3px black, 0px -3px black;
    text-align: center;
    opacity:0;
    animation-fill-mode: forwards;
  }

  .name-fade1{
    animation: fadeIn 1.5s 2s forwards;
  }

  .name-fade2{
    animation: fadeIn 1.5s 3s forwards;
  }

  @keyframes fadeIn{
    from {opacity:0; top:50px;}
    to {opacity:1; top:0px;}
  }

  .title-desc{
    opacity:0;
    white-space: nowrap;
  }

  .title-desc1{
    animation: fadeIn2 1.5s 4s forwards;
  }

  .title-desc2{
    animation: fadeIn2 1.5s 4s forwards;
  }

  .title-desc3{
    animation: fadeIn2 1.5s 4s forwards;
  }

  @keyframes fadeIn2{
    from {opacity:0; top:50px;}
    to {opacity:1; top:0px;}
  }
  
  .about{
    color: white;
    text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
    opacity: 0;
    animation: fadeIn3 1.5s 4s forwards;
  }

  .about-img{
    animation: chevron 1.5s 5s ease-in-out 5;
  }

  @keyframes fadeIn3{
    from {opacity:0;}
    to {opacity:1;}
  }

  @keyframes chevron{
    from, to {opacity:1;}
    50% {opacity:0; transform: translatey(10px)}
    51% {opacity:0; transform: translatey(-10px)}
  }