.noselect {
    color:transparent;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button{
    white-space: nowrap;
}

.btn-primary.custom-btn {
	background-color: #2081c3;
	border-color: #2081c3;
}

.btn-primary.custom-btn:hover {
	background-color: #32adff;
	border-color: #32adff;
}