<div id="about" style="background-color: #13131c; color: #ffffffe5; z-index:-100" class="md:min-h-[100vh]">
    <h1 class="text-center py-20">About Me</h1>
    <div class="container px-4 mb-10 md:mb-20">
        <p>
            I am a student at the University of Wisconsin - Madison, pursuing a double major in
            Computer Science and Mathematics with an expected graduation year of 2025.
            As a member of the Delta Chi Fraternity, I held the position of community service director, as well as a co-director of Humorology,
            UW-Madison's annual philanthropic theater performance, which aims to raise funds for
            child abuse treatment and prevention. In my precious little remaining free time I enjoy weightlifting, sailing, and
            reading.
        </p>
        <p>
            I have a strong background in software development, stemming from high school when I first delved into Java and Python. 
            Since then, I have been continuously expanding my knowledge through classes and personal projects. 
            I also familiarized myself with Linux and gained a solid foundation in web development using HTML, CSS, and Javascript.

            In college, I further honed my skills by working extensively with Java in my introductory courses. 
            As I progressed to classes in computer architecture and operating systems, I used C to create caching systems, 
            RPC wrappers, and file system scanners. Working towards my math major, I have taken classes in differential equations, linear algebra,
            combinatorics, and real analysis.
        </p>
        <p>
            Over two years ago, I began an exciting opportunity as a DevOps intern at Skyward Inc, 
            a Wisconsin-based company specializing in student information systems. 
            In this role, I am involved in full-stack .NET development, overseeing crucial backend operations for the 
            company's primary software product. As part of my responsibilities, I have strengthened my skills in web development, 
            database management, REST APIs, server administration, and service-oriented architecture. 
            My daily toolkit primarily consists of C#, SQL, and Powershell as I work on projects and service calls to
            improve visibility and development speed company-wide.
        </p>
        <p>
            I have a natural affinity for coding and diving into complex processes. 
            Given my academic background in computer science and mathematics, combined with a lifelong personal interest in financial markets,
            I am actively exploring career opportunities in software development or quantitative analysis.
            I thrive on immersing myself in intricate projects and solving problems efficiently.
            I am excited to leverage my skills to contribute to the field and
            discover new opportunities throughout my professional journey.
        </p>
    </div>
    <div class="flex flex-col md:flex-row gap-4 justify-center mx-5 pb-20 md:w-auto">
        <a type="button" class="btn btn-primary custom-btn w-full md:w-64 !inline-flex !items-center !justify-center !gap-2 !text-center" href="assets\Martin Domaradzki.pdf" target="_blank"><img src="assets\images\icons8-clipboard-64.png" class="w-8" />Download my resume</a>
        <a type="button" class="btn btn-primary custom-btn w-full md:w-64 !inline-flex !items-center !justify-center !gap-2 !text-center" href="#contact"><img src="assets\images\icons8-contact-50.png" class="w-6" />Contact me </a>
    </div>
</div>