.marty-bar{
  width: calc(100vw - 17px);
}

.marty-bar-pos{
  top:100vh;
  position: absolute;
  z-index:10;
  pointer-events: all;
}

.marty-header {
  color: white;
  font-size: calc(1vw * 1.5);
  font-family: "Geologica", "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  top: .3vw;
}

.marty-header:hover {
  color: #bed8d4;
  transition: all .25s ease;
}

img{
  height: calc(2vw * 1.2);
}