.marty-bar{
  width: calc(100vw - 17px);
}

.marty-bar-pos{
  top:100vh;
  position: absolute;
  z-index:10;
  pointer-events: all;
}

.marty-header {
  color: white;
  font-size: calc(1vw * 1.5);
  font-family: "Geologica", "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif";
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  top: .3vw;
}

.marty-header:hover {
  color: #bed8d4;
  transition: all .25s ease;
}

img{
  height: calc(2vw * 1.2);
}

.col-2 {
  padding: 0;
}

.col-3 {
  padding: 0;
}

#bar-thing{
  position:absolute;
  width: 16.4%;
  height:calc(3vw * .12); 
  margin:0;
  top: calc(.9 * (3vw * 1.2));
  left:-20%;
  overflow:hidden;
  background-color: white;
  transition: .3s all ease-in-out;
}

.about{
  left:25.5% !important;
}

.experience{
  left:41.8% !important;
}

.projects{
  left:58.1% !important;
}

.contact{
  left:75.5% !important;
}