.title{
    position: relative;
    text-shadow: 1px 0 5px black, -1px 0 5px black, 1px 0 5px black, 0 -1px 5px black;
    color:white;
}

.exp{
    background-image: url('/assets/images/montana.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reveal{
    position: relative;
    left:10vw;
    transition: .5s all ease-out;
  }
  .reveal.active{
    left:0;
    width:100%;
  }

