.experience-page-init{
    position:relative;
    top:103vh;
}

.experience-page{
    position:relative;
    top:96vh;
}

.title{
    position: relative;
    text-shadow: 1px 0 5px black, -1px 0 5px black, 1px 0 5px black, 0 -1px 5px black;
    color:white;
    top: calc(3vw * 1.5);
}

img{
    width: calc(100vw - 17px);
    height:100vh;
    position:absolute;
    z-index:-1;
}

.reveal{
    position: relative;
    left:10vw;
    transition: .5s all ease-out;
  }
  .reveal.active{
    left:0;
    width:100%;
  }

