<div class="background justify-content-center px-4 md:min-h-[100vh]" id="projects">
    <h1 class="text-center text-white py-20">Projects</h1>
    <div class="container background-album rounded-xl p-4">
        <div class="layout">
            <img class="w-32 el1 md:w-80" src="assets\images\album.jpg">
            <div class="el2">
                <p class="text-white font-medium mb-1 md:mb-2 text-xl md:text-4xl">Algorhythms</p>
                <p class="text-gray-300 text-lg md:text-3xl">Martin Domaradzki</p>
            </div>
            <div class="el3">
                <div class="text-gray-300 flex justify-between md:text-xl px-1 md:mx-4"><span>0:00</span><span>13:37</span></div>
                <img class="playbar" src="assets\images\music.svg">
            </div>
        </div>
        <div class="container songs font-medium md:text-xl">
            <div *ngFor="let project of projects">
                <a [href]="project.link" target="_blank">
                    <div class="song">
                        <p class="song-title">{{ project.title }}</p>
                        <p class="song-artist justify-content-between">
                            <span class="pr-4">{{ project.description }}</span><span>{{ project.year }}</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="song">
                <p class="song-title">Coming Soon</p>
                <p class="song-artist justify-content-between"><span>???</span><span>???</span>
                </p>
            </div>
        </div>
    </div>
</div>