a{
    text-decoration: none;
}

.background{
    background-color: #121212;
    height:max-content;
    padding-bottom: 10%;
}

.background-album{
    background-color: #181818;
}

.layout {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    align-items: start;
    grid-template-areas:
        "one two"
        "three three";
    margin-bottom: 24px;
}

@media (min-width: 768px) {
  .layout {
    gap: 16px;
    grid-template-areas:
      "one two"
      "one three";
    margin-bottom: 42px;
  }
}

.el1 { grid-area: one; }
.el2 { grid-area: two; }
.el3 { grid-area: three; }

.songs{
    position: relative;
    justify-content: center;
    width:99%;
}

.song{
    border-top: 1px white solid;
    padding: 1px;
    padding-left:10px;
    transition: ease-in-out .15s;
}

.song:hover{
    background-color: #303030;
}

.song-title{
    position:relative;
    color:white;
    top:7px;
}

.song-artist{
    color:rgba(255, 255, 255, 0.705);
    display:flex;
    width:95%;
}