a{
    text-decoration: none;
}

.background{
    background-color: #f0f1f1;
    padding-bottom: 100px;
}

img {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

.box{
    background-color: white;
    color:black;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: ease-in-out .15s;
    border-radius: 2px;
}

.box:hover{
    transform: translateY(-10px);
    box-shadow: 10px 15px 5px grey;
}

.grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 50px;
  }

  .box {
    padding: 20px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin-top: 50px;
  }
}